#board {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

footer {
  color: #1bc2c7 !important;
  font-weight: 600;
}

footer span {
  color: #1bc2c7 !important;
  font-weight: 600;
}

#toc {
  font-family: 华文新魏,STXinwei;
  padding: 10px;
  top: 4rem;
  background-color: var(--board-bg-color);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

[data-user-color-scheme='dark'] {
  --link-hover-bg-color: #36415199;
  --text-color: #cecece !important;
  --sec-text-color: #cecece !important;
}

:root {
  --link-hover-bg-color: #f8f9fa57;
  --text-color: #000;
  --sec-text-color: #000;
}

.list-group-item {
  border-left: 4px solid;
}