#board {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

footer {
  color: #1bc2c7 !important;
  font-weight: 600;
}

footer span {
  color: #1bc2c7 !important;
  font-weight: 600;
}

#toc {
  /* font-family: fangsong; */
  padding: 10px;
  top: 4rem;
  background-color: var(--board-bg-color);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

[data-user-color-scheme='dark'] {
  --link-hover-bg-color: #36415199;
  --text-color: #cecece !important;
  --sec-text-color: #cecece !important;
}

:root {
  --link-hover-bg-color: #f8f9fa57;
  --text-color: #000;
  --sec-text-color: #000;
}

.list-group-item {
  border-left: 4px solid;
}

.category-item::before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #797979;
  position: relative;
  top: -2rem;
  left: -2rem;
  z-index: 999;
}

/* 侧栏分类 */

aside.sidebar.category-bar {
  top: 5rem;
  background: var(--board-bg-color);
  border-radius: 10px;
  padding: 10px;
  margin-top: 2rem;
}

aside.sidebar.category-bar a {
  border-color: #00000000;
}

/* tag标签背景 */

.note {
  color: #000;
}
.note-info {
  background-color: #eef7fa;
}
.note-success {
  background-color: #eff8f0;
}
.note-warning {
  background-color: #fdf8ea;
}
.note-primary {
  background-color: #f5f0fa;
}
.note-secondary {
  background-color: #f7f7f7;
}
.note-danger {
  background-color: #fcf1f2;
}
.note-light {
  background-color: #fff;
}

.note a {
  color: #ff8b00;
}

[data-user-color-scheme='dark'] .note-info {
  background-color: #eef7fadd;
}
[data-user-color-scheme='dark'] .note-success {
  background-color: #eff8f0dd;
}
[data-user-color-scheme='dark'] .note-warning {
  background-color: #fdf8eadd;
}
[data-user-color-scheme='dark'] .note-primary {
  background-color: #f5f0fadd;
}
[data-user-color-scheme='dark'] .note-secondary {
  background-color: #f7f7f7dd;
}
[data-user-color-scheme='dark'] .note-danger {
  background-color: #fcf1f2dd;
}
[data-user-color-scheme='dark'] .note-light {
  background-color: #ffffffdd;
}