.vinput {
  color: var(--post-text-color);
  font-size: 1rem;
}

.vpower, .txt-right {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 华文新魏,STXinwei;
  font-weight: 300 !important;
}

.page-header {
  font-family: 华文新魏,STXinwei;
}

.navbar-brand strong {
  font-family: 华文新魏,STXinwei;
  font-weight: 300;
}