a.card-body.hover-with-bg {
  border-left: 5px solid;
  background: #ff00cc1a;
  color: #000;
}

a.card-body.hover-with-bg img {
  transition: all 5s;
  border: 2px solid #fff;
}

a.card-body.hover-with-bg img:hover {
  transform: rotate(1080deg);
}